#banner
  .banner_content
    %h1 File cabinet
    %p Your data. 
    %buttons= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p
        Hello there! This is Avishkar Pratap K.C.

#bottom_cta
  .wrapper
    %h2 go ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
    